@import "navbar.css";
@import "content.css";
@import "footer.css";
@import "main-medium.css";
@import "main-small.css";


html {
    scroll-behavior: smooth;
}
@media (min-width: 1201px){
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60px 2550px 60px;
        grid-template-areas:
        "head"
        "content"
        "foot";
        justify-content: center;
        align-content: center;
        background-image: linear-gradient(to bottom right,rgb(83, 165, 165), #444);
    }
}